/* Geral */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: auto;
  overflow-x: hidden;
}

a{
  font-weight: 300;
  text-decoration: none;
  font-family: 'Prompt', sans-serif;
}

p{
  font-family: 'Prompt', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 160%;

  color: #4B5D68;
}

h1{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 95px;

  line-height: 120%;

  color: #212353;
}

h2{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  
  line-height: 130%;
  
  color: #212353;
}

h3{
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;

  color: #212353;
}

h4{
  position: absolute;

  font-family: 'Prompt', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 160%;

  display: flex;
  letter-spacing: 0.005em;

  color: #212353;
}

/* Home */

nav{
  display: inline-flex;
  padding: 3% 12%;
  width: -webkit-fill-available;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.navigation{
  margin: auto auto auto 85px;
}

.navigation a{
  margin:23px;
  color: #4B5D68;
}

.navigation a:hover{
  font-weight: 400;
  color: #212353;
}

.navigation a:active{
  font-weight: 400;
  color: #212353;
}

.links{
  display: inline-flex;
  width: 210px;
  height: 60px;
  float: right;

  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;

}

.links a{
  margin: 18px 12px;
}

.home{
  display: inline-flex;
  width: -webkit-fill-available;
  /* padding: 6% 13% 4% 13%; */
  margin: 5% 14%;
}

.home img {
  margin: auto;
  width: 110%;
  padding: 13% 10%;
}

.intro h1{
  width: 645px;
  height: 184px;
  margin: auto;

  display: flex;
  align-items: flex-end;  
}

.intro p{
  width: 396px;
  height: 120px;
  margin: 8% 0% 10% 0%;
}

.intro a{
  width: 170px;
  height: 60px;  
  padding: 3%;
  background: #9C69E2;
  border-radius: 50px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;

  color: #FFFFFF;
}

/* About */

.sobre{
  margin: auto 0px;
}

.about{
  width: 75%;
  height: 60%;
  margin: 0% 12% 7% 12%;
  display: inline-flex;

  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

.about img{
  padding: 9%;
  width: 53%;
}

.about h2{
  width: 553px;
  height: 100px;

  display: flex;
  align-items: center;
  margin-top: 3%;
}

.about p{
  width: 474px;
  height: 172px;
}

/* Tecnologias*/

.tecnologias{
  text-align: center;
}

.grid {
  display: grid;
  position: absolute;
  grid: 430px/ 1fr 1fr;
  margin: 10px 19%;
  width: 60%;
  text-align: left;
}

.grid img{
  position: absolute;
  padding-block-start: 15px;
  padding-inline-end: 90px;
}

.grid a img{
  padding: 6px !important;
  margin-left: 10px;
}

.box{
  position: absolute;
  width: 235px;
  margin: 74px 250px;
}

.box p{
  font-weight: 200;
  font-size: 16px;
}

/* Projetos */

.flickity-viewport {
  overflow: visible !important;
}

.slide{
  display: -webkit-inline-block;
  position: absolute;
  overflow: visible !important;
  width: 1118px;
  height: 709px;
  top: 2789px;
  margin-left: 21%;
  
  background: #9C69E2;
  border-radius: 50px;
}

.slide h2{
  color: white;
  font-size: 40px;
  margin: 85px 0px 55px 130px;
}

.carousel-cell {
  position: relative;
  width: 800px;
  height: 380px;
  margin-right: 35px;

  background:  -webkit-linear-gradient(right, rgba(255,255,255,0.5), rgba(255,255,255, 1));
  border: 1px solid #9C69E2;
  box-sizing: border-box;
  border-radius: 20px;
}

.carousel-cell.shadow.is-selected {
  box-shadow: 0px 20px 0px rgba(95, 33, 182, 0.5);
  background: #FFFFFF;
}

.gallery-cell:before {
  width: 830px;
  height: 380px;
  display: block;
  text-align: left;
  content: counter(gallery-cell);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 9.75%, rgba(255, 255, 255, 0.796875) 81.67%, #FFFFFF 100%) !important;
}

.gallery-cell:after{
  width: 830px;
  height: 380px;
  display: block;
  text-align: left;
  content: counter(gallery-cell);
  background: linear-gradient(270deg, #ffffff 8.75%, rgba(226, 224, 224, 0) 100%);
}

.shadow{
  position: relative;
  width: 100%;
  width: 820px;
  height: 380px;

  border: 1px solid #9C69E2;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 20px 0px rgba(122, 60, 209, 0.5);
  background: linear-gradient(270deg, #FFFFFF 9.75%, rgba(255, 255, 255, 0) 100%);
}

.flickity-viewport {
  overflow: visible !important;
}

.flickity-page-dots{
  text-align: left;
  margin-left: 130px;
  margin-bottom: -55px;
}

.flickity-button {
  position: absolute;
  background: hsla(0,0%,100%,.75);
  border: none;
  color: #333;
}

.flickity-button-icon{
  display: none;
  fill: currentColor;
}

.flickity-prev-next-button{
  position: absolute;
  background-image: url('./src/assets/white-arrow.svg') !important;
  background-repeat: no-repeat !important;
  width: 25px;
  height: 16px;
  top: 453px;
  border-radius: 0%;
  transition: 0.7s;
}

.flickity-prev-next-button.previous {
  right: 143px;
  left: auto;
  top: 461px
}

.flickity-prev-next-button.next {
  right: 134px;
  transform: rotateY(180deg);
  -webkit-transform-origin-x: right;
}

.slide button{
  background: none;
  float: right;
  border: none;
}

.flickity-button:hover {
  background: none; 
<<<<<<< Updated upstream
=======
  width: 30px;
}

.flickity-button:active {
  opacity:.6;
>>>>>>> Stashed changes
  width: 30px;
  transition: 0.7s;
}

.flickity-button:active {
  opacity:.6;
  width: 30px;
}

.flickity-button:disabled {
  opacity:.3;
  width: 20px;
  cursor:auto;
  pointer-events:none
}

.flickity-page-dots{
  text-align: left;
  margin-left: 130px;
  margin-bottom: -55px;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 4px;
  background: #ffff;
  opacity: 1;
  border-radius: 50%;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  background: #68C9BA;
  width: 10px;
  height: 10px;
  margin-bottom: -2px;
}

/* Linha de divisão */

.line {
  position: absolute;
  width: -webkit-fill-available;
  height: 5px;
  top: 3610px;
  margin-bottom: 69px;
  background: #9C69E2;
  opacity: 0.2;
}

/* Footer */

.conhecer{
  position: absolute;
  left: 240px;
  top: 3750px;
  width: 80%;
  align-items: left;
}

.paozinho a{
  border-radius: 50px;
  padding: 10px;

  float: right;
}

