body{
  margin: auto;
}

a{
  font-weight: 400;
  text-decoration: none;
  font-family: 'Prompt', sans-serif;
}

p{
  font-family: 'Prompt', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 160%;

  color: #4B5D68;
}

h1{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 95px;

  line-height: 120%;

  color: #212353;
}

h2{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  
  line-height: 130%;
  
  color: #212353;
}

h3{
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;

  color: #212353;
}

h4{
  position: absolute;

  font-family: 'Prompt', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 160%;

  display: flex;
  letter-spacing: 0.005em;

  color: #212353;
}

nav{
  display: inline-flex;
  padding: 3% 12%;
  width: -webkit-fill-available;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.navigation{
  margin: auto auto auto 85px;
}

.navigation a{
  margin:23px;
  color: #4B5D68;
}

.navigation a:hover{
  font-weight: 500;
  color: #212353;
}

.navigation a:active{
  font-weight: 500;
  color: #212353;
}

.links{
  display: inline-flex;
  width: 210px;
  height: 60px;
  float: right;

  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;

}

.links a{
  margin: 18px 12px;
}

.home{
  display: inline-flex;
  width: 80%;
  padding: 6% 13% 4% 13%;
}

.home img {
  margin: auto;
  width: 110%;
  padding: 13% 10%;
}

.intro h1{
  width: 645px;
  height: 184px;
  margin: auto;

  display: flex;
  align-items: flex-end;  
}

.intro p{
  width: 396px;
  height: 120px;
  margin: 8% 0% 10% 0%;
}

.intro a{
  width: 170px;
  height: 60px;  
  padding: 3%;
  background: #9C69E2;
  border-radius: 50px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;

  color: #FFFFFF;
}

.sobre{
  margin: auto 0px;
}

.about{
  width: 75%;
  height: 60%;
  margin: 0% 12% 7% 12%;
  display: inline-flex;

  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

.about img{
  padding: 9%;
  width: 35%;
}

.about h2{
  width: 553px;
  height: 100px;

  display: flex;
  align-items: center;
  margin-top: 3%;
}

.about p{
  width: 474px;
  height: 172px;
}

.tecnologias{
  text-align: center;
}

.grid {
  display: grid;
  position: absolute;
  grid: 438px/ 1fr 1fr;
  margin: 2% 20%;
  width: 65%;
  text-align: left;
}

.grid img{
  padding-block-start: 15px;
  padding-inline-end: 90px;
}

.grid a img{
  padding: 6px !important;
  margin-left: 10px;
}

.box{
  width: 235px;
  margin: 12% 41%;
}

.box p{
  font-weight: 300;
  font-size: 16px;
}
